<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity=
    "sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p style="font-size: large;">Welcome to <%= title %></p>
    
    <div style="margin-left:60% ; width: max-content;">
      <a href="/add" class="btn btn-primary">Add Study Plan</a>
      <a href="/map" class="btn btn-primary" style="background-color: green;">Progress Graph</a>
      <a href="/links" class="btn btn-primary" style="background-color: rgb(44, 175, 220);">Explore Notes</a>
      <a href="/done" class="btn btn-primary">Tasks Completed</a>
    </div>
    
    <div class="row">

    <% studyList.forEach((studies, i) => { %>
      <% if(studies.done == false) {%>
    <div class="card" style="width: 18rem; padding: 10;">
      <div class="card-body">
        <label for="title">Title:</label>
        <h5 class="card-title"><%= studies.title %></h5> 
        <label for="description">Description:</label>
        <p class="card-text"><%= studies.description %></p>
        <label for="time">Time:</label>
        <p class="card-text"><%= studies.time %></p>
        <label for="exceeded">Status:</label>
        <p class="card-text"><%= studies.exceeded %></p>
        <a href="/edit/<%= studies._id %>" class="btn btn-success">Update</a>
        <a href="/delete/<%= studies._id %>" class="btn btn-danger">Delete</a>
        <form method="post" action="/done/<%= studies._id %>">
          <input type="submit" name="done" value="Done"/>
        </form>
        
        
      </div>
    </div>
    <%}%>
<% }) %>
</div>
  
    
  </body>
</html>
