<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/navbar')%>
    <div
      class="jumbotron border-0"
      style="background-image: url(/img/header.png); background-size: cover"
    >
      <h1 class="display-4" style="font-weight: 600; color: white">Hello,</h1>
      <p
        class="mt-5"
        style="
          font-size: 60px;
          color: white;
          font-weight: 600;
          text-align: center;
        "
      >
        You're welcome to <br />
        Study Station!
      </p>
      <p class="p-2 text-center" style="color: antiquewhite; font-size: 20px">
        Be the master of your own time.
      </p>
      <div class="d-flex justify-content-center my-3">
        <a
          class="btn btn-primary btn-lg"
          href="#"
          role="button"
          style="padding: 5px 10px; border-radius: 2px; margin: 0px auto"
          border-radius="2px"
          >Learn more</a
        >
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <% studyList.forEach((studies, i) => { %>
          <% if(studies.done == false) {%>
        <div class="card" style="width: 18rem">
          <div class="card-body" style="background-color: lavenderblush">
            <label for="title">Title:</label>
            <h5 class="card-title" style="font-style: italic">
              <%= studies.title %>
            </h5>
            <label for="description">Description:</label>
            <p class="card-text" style="font-style: italic">
              <%= studies.description %>
            </p>
            <label for="time">Time:</label>
            <p class="card-text" style="font-style: italic">
              <%= studies.time %>
            </p>
            <label for="exceeded">Status:</label>
            <p class="card-text"><%= studies.exceeded %></p>
            <a href="/edit/<%= studies.id %>" class="btn btn-success">Update</a>
            <a href="/delete/<%= studies.id %>" class="btn btn-danger"
              >Delete</a
            >
            <form method="post" action="/done/<%= studies._id %>">
              <input type="submit" name="done" value="Done"/>
            </form>
          </div>
        </div>
        <%}%>
        <% }) %>
      </div>
    </div>

    <!-- <div>
      <figure>
        <blockquote>
          <p>
            “One of the most common causes of failure is quitting when one is
            overtaken by temporary defeat.”
          </p>
          <figcaption>-Napoleon Hill</figcaption>
        </blockquote>
      </figure>
    </div> -->
  </body>
</html>
