<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/navbar')%>
    <div
      class="jumbotron border-0"
      style="background-image: url(/img/header.png); background-size: cover"
    >
      <h1 class="display-4" style="font-weight: 600; color: white">Hello,</h1>
      <p
        class="mt-5"
        style="
          font-size: 60px;
          color: white;
          font-weight: 600;
          text-align: center;
        "
      >
        You're welcome to <br />
        Study Station!
      </p>
      <p class="p-2 text-center" style="color: antiquewhite; font-size: 20px">
        Be the master of your own time.
      </p>
      <div class="d-flex justify-content-center my-3">
        <a
          class="btn btn-primary btn-lg"
          href="#"
          role="button"
          style="padding: 5px 10px; border-radius: 2px; margin: 0px auto"
          border-radius="2px"
          >Learn more</a
        >
      </div>
    </div>
    
    <div class="container">
      <div class="row justify-content-center">
        <% studyList.forEach((studies, i) => { %>
          <% if(studies.done == false) {%>
        <div class="card p-0" style=" display: flex; flex-direction: row;">
          <div class="card-body" style="background-color: #f1e6bd">
            <h5 class="card-title">
              <%= studies.title %>
            </h5>
            <label for="description">Description</label>
            <p class="card-text" style="font-style: italic; background-color: rgb(59 47 5 / 25%); color: white; height: 50px; padding: 5px;">
              <%= studies.description %>
            </p>
            <div class="d-flex justify-content-space-between">
            <label for="time">Time:</label>
            <p class="card-text ps-4" style="font-style: italic">
              <%= studies.time %>
            </p>
          </div>
          <div class="d-flex justify-content-space-between">
            <label for="exceeded">Status:</label>
            <p class="card-text ps-4"><%= studies.exceeded %></p>
          </div>
        </div>

            <div>
              <form method="post" action="/done/<%= studies._id %>" class="d-flex justify-content-end pt-2 pe-2">
                <input type="submit" name="done" value="Done"/>
              </form>
              <div class="d-flex flex-column px-5">
            <a href="/edit/<%= studies.id %>" class="btn btn-success" style="margin: 20px 10px">Update</a>
            <a href="/delete/<%= studies.id %>" class="btn btn-danger" style="margin: 20px 10px"
              >Delete</a
            >
          </div>
          </div>
        </div>
        <%}%>
        <% }) %>
      </div>
    </div>

    <!-- <div>
      <figure>
        <blockquote>
          <p>
            “One of the most common causes of failure is quitting when one is
            overtaken by temporary defeat.”
          </p>
          <figcaption>-Napoleon Hill</figcaption>
        </blockquote>
      </figure>
    </div> -->

  </body>
</html>
