<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tasks done</title>
    <%- include('partials/navbar')%>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <% doneList.forEach((studies, i) => { %> <% if(studies.done == false)
        {%>
        <div class="card p-0" style="display: flex; flex-direction: row">
          <div class="card-body" style="background-color: #f1e6bd">
            <h5 class="card-title"><%= studies.title %></h5>
            <label for="description">Description</label>
            <p
              class="card-text"
              style="
                font-style: italic;
                background-color: rgb(59 47 5 / 25%);
                color: white;
                height: 50px;
                padding: 5px;
              "
            >
              <%= studies.description %>
            </p>
            <div class="d-flex justify-content-space-between">
              <label for="time">Time:</label>
              <p class="card-text ps-4" style="font-style: italic">
                <%= studies.time %>
              </p>
            </div>
            <a
              href="/delete/<%= studies.id %>"
              class="btn btn-danger"
              style="margin: 20px 10px"
              >Delete</a
            >
          </div>
        </div>
        <%}%> <% }) %>
      </div>
    </div>
  </body>
</html>
